body {
  font-family: Arial, sans-serif;
  background-color: #40152f;
}

.todo-container {
  width: 300px;
  margin: 100px auto;
  background: rgb(107, 138, 116);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

h1 {
  text-align: center;
}

.input-group {
  display: flex;
  gap: 10px;
}

input[type="text"] {
  flex: 1;
  padding: 8px;
  font-size: 16px;
}

button {
  padding: 8px 12px;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

li.completed span {
  text-decoration: line-through;
  color: rgb(147, 154, 199);
}

li button {
  background: none;
  border: none;
  color: rgb(70, 41, 41);
  font-size: 18px;
  cursor: pointer;
}
